.News-title {
  margin-bottom: 16px;
}

.News-card {
  background-color: azure !important;
  cursor: pointer;
  width: 600px;
}

.News-bullet {
  display: inline-block;
  margin: 0px 2px;
  transform: scale(0.8);
}

.News-pos {
  margin-bottom: 12px;
}

.News-image {
  margin-left: 10px;
}
